* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.login__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 0px);
    background-color: #393e46;
}

.login {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    display: flex;
    padding: 65px 90px;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0px 3px 25px 0px rgb(46, 46, 46);
}

.login__title {
    font-size: 25px;
    margin-bottom: 20px;
}

.login__linkRegister {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.login__linkRegister a {
    text-decoration: none;
    color: white;
}

.login__linkRegister a:hover {
    text-decoration: underline;
}

.login__button {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 20px;
    background: #00adb5;
    border: none;
    padding: 15px 25px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.login__button:hover {
    background: #aad8d3;
    color: #393e46;
}

.login__inputName {
    margin-top: 20px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-bottom: 15px;
    outline: none;
    color: white;
    font-size: 16px;
}

.login__inputPassword {
    margin-top: 10px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-bottom: 20px;
    outline: none;
    color: white;
    font-size: 16px;
}

::placeholder {
    color: white;
    font-size: 16px;
}