* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.register__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 0px);
    background-color: #393e46;
}

.register {
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    padding: 65px 95px;
    color: white;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0px 3px 25px 0px rgb(46, 46, 46);
}

.register__title {
    font-size: 32px;
    margin-bottom: 10px;
    color: cyan;
}

.register__subtitle {
    font-size: 12px;
    color: rgb(189, 188, 188);
    margin-top: 5px;
    margin-bottom: 5px;
}

.register__linkLogin {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.register__linkLogin a {
    text-decoration: none;
    color: white;
}

.register__linkLogin a:hover {
    color: cyan;
}

.register__button {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 20px;
    background: #00adb5;
    border: none;
    padding: 15px 25px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.register__button:hover {
    background: #aad8d3;
    color: #393e46;
}

.register__inputEmail {
    margin-top: 20px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-bottom: 10px;
    outline: none;
    color: white;
    font-size: 16px;
    transition: all 0.3s cubic-bezier(0, 0, 0.5, 0.8);
}

.register__inputEmail:focus {
    border-bottom: 1px solid cyan;
}

.register__inputName {
    margin-top: 20px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-bottom: 20px;
    outline: none;
    color: white;
    font-size: 16px;
    transition: all 0.3s cubic-bezier(0, 0, 0.5, 0.8);
}

.register__inputName:focus {
    border-bottom: 1px solid cyan;
}

.register__inputPassword {
    margin-top: 10px;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin-bottom: 20px;
    outline: none;
    color: white;
    font-size: 16px;
    transition: all 0.3s cubic-bezier(0, 0, 0.5, 0.8);
}

.register__inputPassword:focus {
    border-bottom:  1px solid cyan;
}

::placeholder {
    color: white;
    font-size: 16px;
}

@media only screen and (max-width: 500px) {
    .register {
        border: none;
        background: transparent;
        box-shadow: none;
        padding: 20px;
    }
}