

:root {
    --header_bg: #252629;
    --header_text: #eeeeee;
    --button_bg: #2b4bb6;
    --task_card: #393e46;
    --main_bg: #eeeeee;
    --radius: .3rem;
    --transition: all .2s ease-in-out;
    --boxShadow: 1px 1px 1px 1.4px grey;
    --button_delete: rgb(212, 25, 81);
    --button_edit: rgb(44, 148, 125);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    
body {
    background: var(--task_card);
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

button { 
    cursor: pointer;
}



.header__Nav {
    position: fixed;
    width: 100%;
    padding: 1rem 0;
    background: var(--header_bg);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__Nav > a {
    text-align: center;
    color: var(--header_text);
    margin-left: .75rem;
    font-size: 200%;
    transition: var(--transition);
    text-decoration:none;
}



.nav__List > li {
    display: inline-block;
}
.nav__List > li > a {
    border-radius: var(--radius);
    padding: 0;
    color: white;
    margin: 0 .75rem;
    font-size: 110%;
    transition: var(--transition);
    text-decoration:none;
}
.header__Nav > a:hover, .nav__List > li > a:hover {
    opacity: .85;
}



@media screen and (max-width: 414px) {
    .header__Nav {
        flex-flow: wrap column;
    }
    .header__Nav > a {
        padding-bottom: 1rem;
        margin: 0;
    }
    .nav__List {
        padding-top: 1rem;
    }
}

@media screen and (max-width: 280px) {
    .nav__List {
        flex-flow: wrap column;
    }
    .nav__List > li {
        margin: .75rem 0;
    }
}












.task__Container {
    padding-top: 100px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}
.task__Container > h2 {
    color: white;
    padding-bottom: 1rem;
}
.task__Inputs > input, .task__Inputs > button {
    border: none;
    outline: none;
    border-radius: .25rem;
    padding: 7px 12px;
}
.task__Inputs > button {
    font-weight: bold;
    color: white;
    background: var(--button_bg);
}


.taskList__Container {
    margin: 1rem 0;
}
.taskItem {
    width: 500px;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header_bg);
    border-radius: .25rem;
}
.taskItem > h3 {
    color: white;
    text-align: center;
}
.taskButtons > button {
    border: none;
    outline: none;
    border-radius: .25rem;
    padding: 3px 7px;
}
.editTODO {
    color: white;
    border: thin solid var(--button_edit);
    background: var(--button_edit);
}
.deleteTODO {
    color: white;
    border: thin solid var(--button_delete);
    background: var(--button_delete);
}

@media screen and (max-width: 414px) {
    .task__Container {
        padding-top: 175px;
    }
    .task__Inputs {
        display: flex;
        flex-flow: wrap column;
    }
    .task__Inputs > button {
        margin-top: 1rem;
    }
    .taskItem {
        width: 300px;
    }
}

@media screen and (max-width: 280px) {
    .taskItem {
        width: 200px;
    }
}